.form_movimento {
    width: 450px;
    height: auto;
    float: left;
    margin: 20px 0 0 200px;
    text-align: justify;
    line-height: 20px;
    border: solid 1px black;
}
form {
    text-align: justify;
    font-size: 16px;
    margin: 5px 5px 5px 5px;
}
.bts_select {
    width: 150px;
    float: right;
    height: 15px;
}
.bts_input {
    width: 150px;
    float: right;
    height: 15px;
}
.bts_input_1 {
    width: 70px;
    float: right;
    height: 15px;
}
.bts_input_0 {
    width: 30px;
    float: right;
    height: 15px;
}
.bts_input_f {
    margin-left: 80px;
}
.botoes {
    float: left;
}
.botoes button{
    width: 160px;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    background: black;
    cursor: pointer;
}
.botoes button a {
    text-decoration: none;
    color: #00b3ff;
    font-size: 18px;
    font-family: "Century Gothic";
}
.botoes button a:hover {
    text-decoration: underline;
    color: #4FEF10;
}